*{
    padding: 0;
    margin: 0;
    font-family:inherit
}
body{
    background-color: rgb(255, 217, 0);
}
.form h1{
    font-size: 56px;
    margin-top: 20px;
    margin-left: 12%;
    margin-bottom: 10px;
}
.form p{
    font-size: 22px;
    margin-left: 12%;
    line-height: 1.6;
}
.form p span{
    font-weight: bold;
}
.fa-registered{
    font-size: 5px;
}
table{
    margin-left: 12%;
}
.left1{
    font-size: 25px;
    margin-left: 4%;
}
.left{
    width: 400px;
    height: 40px;
    margin-top: 3%;
}
.left2{
    width: 265.5px;
    height: 40px;
    margin-top: 3%;
}
.right{
    margin-left:4%;
    margin-top: 3%;
    width: 400px;
    height: 40px;
}
.r1{
    padding-top: 10px;
    height: 40px;
    position: relative;
}
.rad{
    margin-left: 5%;
    font-size: 25px;
    padding-top: 10px;
}
#country,#language,#state{
    width: 420px;
   
}
input,select,textarea{
    padding-left:20px ;
    font-size: 20px;
    border-radius: 3px;
    border: none;
}
.check td{
    width: 400px;
    height: 65px;
    padding-right: 50px;
}
.check span{
    font-size: 20px;
    padding-left: 10px;

}
.btn{
    background-color: red;
    width: 200px;
    height: 70px;
    margin-left: 12%;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-right: 15px;
}
.btn:hover{
    background-color: rgb(204, 255, 252);
    color: tomato;
}
#checkbox{
    width: 20px;
    height: 20px;
}
.b1{
    margin-left: 2%;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
}